FRONTEND_PORT={{ frontend_port }}
BACKEND_PORT={{ backend_port }}
REACT_APP_WEATHERBIT_API_KEY={{ weatherbit_api_key}}
REACT_APP_WEATHER_STACK_API_ACCESS_KEY={{ weather_stack_api_key }}
REACT_APP_OPENCAGEDATE_API_KEY={{ opencagedate_api_key }}
REACT_APP_GEOCODING_API_ACCESS_KEY={{ geocoding_api_key }}